@{
    ViewData["Title"] = "Home Page";
}

<style>
   footer{
   display: none;
   }

</style>

<div class="text-center">
    <h1 class="display-4">Welcome to the Agri-Energy Connect Platform</h1>
    <h2>We hope you enjoy your time here and continue to sow your seeds!</h2>
</div>